<div id="#resource_name"><%= lorem_ja.resource_name %></div>
<div id="#word"><%= lorem_ja.word %></div>
<div id="#words5"><%= lorem_ja.words(5) %></div>
<div id="#sentence"><%= lorem_ja.sentence %></div>
<div id="#sentences3"><%= lorem_ja.sentences(3) %></div>
<div id="#paragraph"><%= lorem_ja.paragraph %></div>
<div id="#paragraphs3"><%= lorem_ja.paragraphs(3) %></div>
<div id="#date"><%= lorem_ja.date %></div>
<div id="#image"><%= lorem_ja.image("20x20") %></div>

